.list,
#{$formatted-text-selector} ul,
#{$formatted-text-selector} ol {
  li {
    position: relative;
    margin-left: $list-indent;

    &::before {
      content: '';
      position: absolute;
      transform: translateX(-100%);
    }
  }

  ol,
  ul,
  li + li {
    margin-top: $list-vertical-spacing;
  }
}

.list--unordered,
#{$formatted-text-selector} ul {
  li::before {
    top: $list-unordered-offset-top;
    left: $list-unordered-offset-left;
    width: 1em;
    height: 1em;
    background-image: url("#{get-icon('bullet', $list-marker-color)}");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.list--ordered,
#{$formatted-text-selector} ol {
  counter-reset: ordered-list;

  li::before {
    content: counters(ordered-list, '.') '. ';
    left: $list-ordered-offset-left;
    color: $list-marker-color;
    counter-increment: ordered-list;
  }
}
