#{$radio-selector},
#{$checkbox-selector} {
  [type='radio'],
  [type='checkbox'] {
    @include sr-only();
  }

  label {
    position: relative;
    padding-left: $selection-label-indent;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: inherit;
  }

  label::before,
  label::after {
    content: '';
    position: absolute;
    top: $selection-offset-top;
    left: 0;
    color-adjust: exact; // Keep custom styles for print
  }

  label::before {
    border: $selection-border-width solid $selection-border-color;
    background-color: $selection-bg;
    box-shadow: $selection-box-shadow;
  }

  label::after {
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: $selection-transition;
    transform: scale(0);
  }

  [type='radio']:disabled ~ label,
  [type='checkbox']:disabled ~ label {
    color: $selection-disabled-color;
    cursor: not-allowed;

    &::before {
      border-color: $selection-disabled-border-color;
      background-color: $selection-disabled-bg;
    }
  }

  [type='radio']:focus ~ label::before,
  [type='checkbox']:focus ~ label::before {
    border-color: $selection-focus-border-color;
    box-shadow: $selection-focus-box-shadow;
  }

  [type='radio']:checked ~ label::before,
  [type='checkbox']:checked ~ label::before {
    border-color: $selection-checked-border-color;
    background-color: $selection-checked-bg;
  }

  [type='radio']:checked ~ label::after,
  [type='checkbox']:checked ~ label::after {
    opacity: 1;
    transform: none;
  }

  [type='radio']:active:not(:disabled) ~ label::before,
  [type='checkbox']:active:not(:disabled) ~ label::before {
    filter: $selection-active-filter;
  }
}

// stylelint-disable no-descending-specificity
#{$radio-selector} {
  label::before,
  label::after {
    width: $radio-size;
    height: $radio-size;
  }

  label::before {
    border-radius: 50%;
  }

  [type='radio']:checked ~ label::after {
    background-image: url("#{get-icon('radio', $selection-icon-color)}");
  }
}

#{$checkbox-selector} {
  label::before,
  label::after {
    width: $checkbox-size;
    height: $checkbox-size;
  }

  label::before {
    border-radius: $checkbox-border-radius;
  }

  [type='checkbox']:checked ~ label::after {
    background-image: url("#{get-icon('checkbox', $selection-icon-color)}");
  }
}
// stylelint-enable no-descending-specificity
