////
/// @group global
////

/// Accessible fade in transition
///
/// @param {Number} $duration [get-duration()] - Default duration token
@mixin fade-in($duration: get-duration()) {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s get-easing(linear) 0s, opacity $duration;
}

/// Accessible fade out transition
///
/// @param {Number} $duration [get-duration()] - Default duration token
@mixin fade-out($duration: get-duration()) {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s get-easing(linear) $duration, opacity $duration;
}
