////
/// @group variation
////

@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';

/// Output one or many CSS properties. Numbers with units get converted to Rem automatically.
///
/// @param {String|List} $props - Any CSS property or a list of CSS properties
/// @param {Any} $value - Any CSS value
/// @param {Bool} $negative [false] - Negates the values if true
/// @param {Bool} $important [false] - Adds important flag if true
@mixin output-props($props, $value, $negative: false, $important: false) {
  $multiplicand: 1;

  @if $negative {
    $value: $value * -1;
  }

  @if (meta.type-of($value) == 'number' and math.unit($value) == 'px') {
    $value: to-rem($value);
  }

  @if $important {
    $important: string.unquote('!important');
  } @else {
    $important: null;
  }

  @if (meta.type-of($props) == 'list') {
    @each $prop in $props {
      #{$prop}: $value $important;
    }
  } @else {
    #{$props}: $value $important;
  }
}
