////
/// @group utilities
////

/// Old school way of hiding text. Better use sr-only with an additional `<span>`
@mixin text-hide {
  overflow: hidden;
  color: transparent;
  text-indent: 110%;
  text-shadow: none;
  white-space: nowrap;
}

/// Truncate text using ellipsis (single-line)
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/// Activate hyphenation with fallbacks. Make sure to set the lang attribute on the `<html>` tag.
@mixin text-hyphenate {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/// Clamp text to the maximum number of lines before truncating the content. An ellipsis (…) is displayed at the end of the last line.
/// When passing 1 for the `$lines` parameter the text-trucate mixin (with broader browser support) will be called.
///
/// @param {Number} $lines - Number of lines
@mixin text-line-clamp($lines: 1) {
  @if $lines == 1 {
    @include text-truncate;
  } @else {
    display: -webkit-box; // stylelint-disable-line
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
