////
/// @group global
////

/// CSS only triangle icon (adapted from bourbon)
///
/// @param {String} $direction - One of 'up', 'up-right', 'right', 'down-right', 'down', 'down-left', 'left' or 'up-left'
/// @param {Number} $width
/// @param {Number} $height
/// @param {String|Color} $color [currentColor]
@mixin triangle($direction, $width, $height, $color: currentColor) {
  width: 0;
  height: 0;
  border-style: solid;

  @if $direction == 'up' {
    border-width: 0 math.div($width, 2) $height;
    border-color: transparent transparent $color;
  } @else if $direction == 'up-right' {
    border-width: 0 $width $width 0;
    border-color: transparent $color transparent transparent;
  } @else if $direction == 'right' {
    border-width: math.div($height, 2) 0 math.div($height, 2) $width;
    border-color: transparent transparent transparent $color;
  } @else if $direction == 'down-right' {
    border-width: 0 0 $width $width;
    border-color: transparent transparent $color;
  } @else if $direction == 'down' {
    border-width: $height math.div($width, 2) 0;
    border-color: $color transparent transparent;
  } @else if $direction == 'down-left' {
    border-width: $width 0 0 $width;
    border-color: transparent transparent transparent $color;
  } @else if $direction == 'left' {
    border-width: math.div($height, 2) $width math.div($height, 2) 0;
    border-color: transparent $color transparent transparent;
  } @else if $direction == 'up-left' {
    border-width: $width $width 0 0;
    border-color: $color transparent transparent;
  }
}
