legend {
  font-weight: bold;
}

section {
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 4px solid;
}

article {
  margin-top: 2rem;
}

.container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

div:not(.demo-headings) h3,
div:not(.demo-headings) h4,
div:not(.demo-headings) h5 {
  font-weight: normal;
}
