textarea {
  &[rows] {
    height: auto;
  }

  &:not([rows]) {
    height: $input-height * 2;
  }
}

input[type='color'] {
  max-width: 2.75rem;
  padding: $input-padding-vertical;
}

// Fix date input heights
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'],
input[type='week'] {
  display: flex;
}

// Fix appearance for date inputs in Safari
input[type='date'],
input[type='month'] {
  appearance: none;
}

input[type='file'] {
  display: block;
  max-width: 100%;
}

// Remove inner padding from color pickers
::-webkit-color-swatch-wrapper {
  padding: 0;
}

::placeholder {
  color: $placeholder-color;
}
