////
/// @group global
////

@use 'sass:color';
@use 'sass:map';

// Functional Colors
$color-accent: get-color(blue) !default;
$color-background: get-color(white) !default;
$color-background-inverted: get-color(gray-800) !default;
$color-background-muted: get-color(gray-100) !default;
$color-foreground: get-color(gray-800) !default;
$color-foreground-inverted: get-color(white) !default;
$color-foreground-muted: get-color(gray-500) !default;
$color-line: get-color(gray-200) !default;
$color-icon: get-color(gray-800) !default;

// Global
$font-antialiased: false !default;
$fluid-scaling: true !default;

/// Type Scale
///
/// @example scss
///   $type-scale: 1.25;
///
/// @example scss
///   $type-scale: (
///     xs: 1.25,
///     md: 1.333,
///   );
///
/// @type {Number|Map}
$type-scale: 1.25 !default;
$global-bg: $color-background !default;
$text-color: $color-foreground !default;

// Headings
$headings: ('h6, .h6', 'h5, .h5', 'h4, .h4', 'h3, .h3', 'h2, .h2', 'h1, .h1') !default;
$headings-spacing: 0.4em !default;
$headings-color: inherit !default;

/// Headings Type Scale
///
/// @example scss
///   $headings-type-scale: 1.25;
///
/// @example scss
///   $headings-type-scale: (
///     xs: 1.25,
///     md: 1.333,
///   );
///
/// @type {Number|Map}
$headings-type-scale: $type-scale !default;

/// Headings Scale Base
///
/// @example scss
///   $headings-scale-base: $font-size-base;
///
/// @example scss
///   $headings-scale-base: (
///     min: $font-size-base,
///     max: $font-size-base * 1.5,
///   );
///
/// @example scss
///   $headings-scale-base: (
///     xs: $font-size-base,
///     md: (
///       min: $font-size-base,
///       max: $font-size-base * 1.5,
///     )
///   );
///
/// @type {Number|Map}
$headings-scale-base: (
  min: $font-size-base,
) !default;

// Grid

/// Grid Mode - select your grid system
///
/// @example scss
///   $grid-mode: grid | flex | all | none;
///
/// @type String
///
$grid-mode: grid !default;
$grid-columns: 12 !default;

/// Grid Gutter
///
/// @example scss
///   $grid-gutter: 30px;
///
/// @example scss
///   $grid-gutter: (
///     min: 30px,
///     max: 60px,
///   );
///
/// @example scss
///   $grid-gutter: (
///     xs: 30px,
///     md: (
///       min: 30px,
///       max: 60px,
///     )
///   );
///
/// @type {Number|Map}
$grid-gutter: (
  min: 30px,
) !default;

/// Space between grid rows using the `row-gap` property (only for `$grid-mode: grid`).
/// Same values as for `$grid-gutter` are possible.
/// @type {Number|Map}
$grid-row-gutter: () !default;

/// Grid Container Gutter
///
/// @example scss
///   $container-gutter: 30px;
///
/// @example scss
///   $container-gutter: (
///     min: 30px,
///     max: 60px,
///   );
///
/// @example scss
///   $container-gutter: (
///     xs: 30px,
///     md: (
///       min: 30px,
///       max: 60px,
///     )
///   );
///
/// @type {Number|Map}
$container-gutter: $grid-gutter !default;
$container: map.get($mq-breakpoints, xl) !default;

// Link
$link-color: $color-accent !default;
$link-hover-color: shade-color($link-color, 20%) !default;
$link-active-color: $link-hover-color !default;
$link-focus-color: $link-hover-color !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$link-transition: color get-duration() get-easing(linear) !default;

// List
$list-indent: to-em(40px) !default;
$list-vertical-spacing: to-em(6px) !default;
$list-marker-color: $color-foreground !default;
$list-unordered-offset-top: to-em(4px) !default;
$list-unordered-offset-left: to-em(-7px) !default;
$list-ordered-offset-left: to-em(-5px) !default;

// Input
$input-selector: '.form-control' !default;
$input-height: to-em(38px) !default;
$input-padding-vertical: to-em(6px) !default;
$input-padding-horizontal: to-em(12px) !default;
$input-border-color: $color-line !default;
$input-border-radius: to-em(2px) !default;
$input-border-width: 1px !default;
$input-bg: $color-background !default;
$input-color: $color-foreground !default;
$input-box-shadow: none !default;
$input-focus-border-color: $color-accent !default;
$input-focus-box-shadow: 0 0 0 to-em(3px) color.adjust($color-accent, $alpha: -0.75) !default;
$input-disabled-bg: $color-background-muted !default;
$input-disabled-color: $color-foreground-muted !default;
$input-disabled-border-color: $color-line !default;
$input-transition: border-color get-duration() get-easing(), box-shadow get-duration() get-easing() !default;

// Select
$select-selector: '.select' !default;
$select-height: $input-height !default;
$select-padding-vertical: $input-padding-vertical !default;
$select-padding-horizontal: $input-padding-horizontal !default;
$select-border-color: $input-border-color !default;
$select-border-radius: $input-border-radius !default;
$select-border-width: $input-border-width !default;
$select-bg: $input-bg !default;
$select-color: $input-color !default;
$select-box-shadow: $input-box-shadow !default;
$select-icon-color: $color-foreground !default;
$select-icon-offset: 2em !default;
$select-focus-border-color: $input-focus-border-color !default;
$select-focus-box-shadow: $input-focus-box-shadow !default;
$select-disabled-bg: $input-disabled-bg !default;
$select-disabled-color: $input-disabled-color !default;
$select-disabled-border-color: $input-disabled-border-color !default;
$select-transition: $input-transition !default;

// Selection (Checkbox & Radio)
$selection-icon-color: $color-foreground-inverted !default;
$selection-label-indent: to-em(22px) !default;
$selection-border-width: $input-border-width !default;
$selection-border-color: $input-border-color !default;
$selection-bg: $input-bg !default;
$selection-box-shadow: $input-box-shadow !default;
$selection-focus-border-color: $input-focus-border-color !default;
$selection-focus-box-shadow: $input-focus-box-shadow !default;
$selection-active-filter: brightness(90%) !default;
$selection-checked-bg: $color-accent !default;
$selection-checked-border-color: $selection-checked-bg !default;
$selection-disabled-bg: $input-disabled-bg !default;
$selection-disabled-color: $input-disabled-color !default;
$selection-disabled-border-color: $input-disabled-border-color !default;
$selection-transition: opacity get-duration() get-easing(linear),
  transform get-duration() get-easing() !default;

// Radio
$radio-selector: '.radio' !default;
$radio-size: to-rem(18px) !default;
$radio-offset-top: to-em(3px) !default;

// Checkbox
$checkbox-selector: '.checkbox' !default;
$checkbox-size: to-rem(16px) !default;
$checkbox-offset-top: to-em(4px) !default;
$checkbox-border-radius: $input-border-radius !default;

// Placeholder
$placeholder-color: $color-foreground-muted !default;

// Label
$label-spacing: to-rem(8px) !default;

// Button Base
$button-selector: '.button' !default;
$button-typography: null !default;
$button-cursor-pointer: true !default;
$button-padding-vertical: to-em(6px) !default;
$button-padding-horizontal: to-em(16px) !default;
$button-border-width: 1px !default;
$button-border-radius: to-em(2px) !default;
$button-transition: background-color get-duration() get-easing(), color get-duration() get-easing(),
  border-color get-duration() get-easing(), box-shadow get-duration() get-easing() !default;

// Button Variations
$button-variations: (
  base: (
    background-color: $color-accent,
    color: $color-foreground-inverted,
    selectors: (
      '&:hover': (
        background-color: shade-color($color-accent, 15%),
        color: $color-foreground-inverted,
      ),
      '&:focus': (
        background-color: shade-color($color-accent, 20%),
        color: $color-foreground-inverted,
        box-shadow: 0 0 0 to-em(3px) color.adjust($color-accent, $alpha: -0.65),
      ),
      '&:disabled, &.disabled': (
        opacity: 0.65,
      ),
    ),
  ),
) !default;

// Selector for formatted text / CMS output
$formatted-text-selector: '.formatted-text' !default;

// Icons
$icons: (
  radio:
    '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="#{$color-icon}" d="M4 1C2.3 1 1 2.3 1 4s1.3 3 3 3 3-1.3 3-3S5.7 1 4 1z"/></svg>',
  checkbox:
    '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="#{$color-icon}" d="M6.4 1L5.7 1.7 2.9 4.5 2.1 3.7 1.4 3 0 4.4l0.7 0.7 1.5 1.5 0.7 0.7 0.7-0.7 3.5-3.5 0.7-0.7L6.4 1 6.4 1z"/></svg>',
  select:
    '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="#{$color-icon}" d="m1.41 0 4.59 4.58 4.59-4.58 1.41 1.41l-6 6-6-6z"/></svg>',
  bullet:
    '<svg xmlns="http://www.w3.org/2000/svg" width="11" height="2" viewBox="0 0 11 2"><path fill="none" stroke="#{$color-icon}" stroke-width="2" d="M1.5,1.5h8"/></svg>',
) !default;
